<div class="jumbotron">
<!--   <div class="dbc-banner"> -->
    <h1 class="title" style="font-size: 800%; font-family: 'Calligraffitti', cursive; color: #FAEBD7">UpLift</h1><br>
    <p class="lead">
      <!-- <img src="/styles/UpLift.jpg" style="width:80%;"><br> -->
      Be the Change
    </p>
    <p><a class="btn btn-success btn-lg" ng-href="#/events">I can help <span class="glyphicon glyphicon-ok"></span></a></p>
<!--   </div> -->

  <!-- Twitter Follow button -->
  <div id="social-media">
    <a href="https://twitter.com/Squad_UpLift" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @Squad_UpLift</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>

    <!-- Facebook Like button -->
    <center>
      <div class="fb-like" data-href="https://www.facebook.com/UpLift-995968273856562/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    </center>
  </div>

</div>

