<div class="jumbotron">
  <h1>UpLift</h1>
  <p class="lead">
    <img src="http://www.mnbar.org/sf_images/default-source/default-album/volunteer-hands.jpg?sfvrsn=0"style="width:50%;" alt="I'm Yeoman"><br>
    Be the change.
  </p>
  <p>
    INSERT ABOUT US STATEMENT
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/events">I can help <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<!-- Twitter Follow button -->
<div id="social-media">
  <a href="https://twitter.com/Squad_UpLift" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Squad_UpLift</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>

  <!-- Facebook Like button -->
  <div class="fb-like" data-href="https://www.facebook.com/UpLift-995968273856562/" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
</div>


<!-- <div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
 -->