<div class="jumbotron">
  <!--   <div class="dbc-banner"> -->
  <h1>UpLift</h1>
  <p class="lead">
    <!-- <img src="/UpLiftLogo.png" style="width:80%;"><br> -->
    Be the change.
  </p>
  <p>
    Connecting skills and needs.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/events">I can help <span class="glyphicon glyphicon-ok"></span></a></p>
  <!--   </div> -->

  <!-- Twitter Follow button -->
  <div id="social-media">
    <a href="https://twitter.com/Squad_UpLift" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Squad_UpLift</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>

    <!-- Facebook Like button -->
    <center>
      <div class="fb-like" data-href="https://www.facebook.com/UpLift-995968273856562/" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
    </center>
  </div>

</div>

