<div class="event" ng-controller="specificEventCtrl">
	<h3>{{event.event.name}}</h3>

	<h4>Seeking Volunteers Who Enjoy:</h4>
	<div ng-repeat="skills in event">
		<div ng-repeat="skill in skills">
			{{skill.name}}
		</div>
	</div>
		<br>
		<h4>Hosted by:</h4>
		<a href='#/organizations'>{{event.organization.name}}</a>
		<h4>Join us at this location:</h4>
		<p>{{event.event.street}} {{event.event.city}}, {{event.event.state}}</p>
		<h4>Contact us:</h4>
		<p>Phone: {{event.organization.phone_number}}, <br> Email: <a href="mailto:{{event.organization.email}}?Subject=How%20can%20I%20volunteer?" target="_top">{{event.organization.email}}</a></p>


		<!-- <br>
		<br>
		<h4>Seeking Volunteers Who Enjoy:</h4>	
		<ul>
		<li>{{event["skills"][0].name}}</li>
		<li>{{event["skills"][1].name}}</li>
		</ul>
		<h5>Join us at this location:</h5>
		<p>{{event.event.street}} {{event.event.city}}, {{event.event.state}}</p>

		{{event.skills[0].name}} -->

</div>
<br>

<a href="/#/">Home</a>