

<!-- <div ng-repeat="user in users"> -->
<div ng-controller="UsersCtrl">
  {{user.firstName}} {{user.lastName}}<br>
  {{user.email}}<br>
  {{user.zip}}<br>
  <img src="{{user.image}}" style="height:90px; width:90px;">

<!--   {{eventsUsers.id}} -->
</div>

Skills:<br>
Programming<br>
Teaching<br>
<br>
Interests:<br>
Tracking non-airwheel steps<br>
Bacon<br>
<br>
Quote:<br>
"Be the change that you want to see in the world."<br>
"I did the thing that does the other thing to do the thing."<br>
"Okay, cool."

<!-- <div ng-repeat="event in eventsUsers">
    {{eventsUsers.id}}
</div> -->

<!--   <div ng-repeat="user in users">
    {{user.first_name}} {{user.last_name}}
    <br>
    {{user.email}}
    {{user.zip}}
    <img src="{{user.image_url}}" style="height:90px; width:90px;">
  </div>
  FOR MULTIPLE USERS
