

<!-- <div ng-repeat="user in users"> -->
<div ng-controller="UsersCtrl">
{{user.firstName}} {{user.lastName}}
  <br>
  {{user.email}}
  {{user.zip}}
  <img src="{{user.image}}" style="height:90px; width:90px;">

<!--   {{eventsUsers.id}} -->
</div>

<!-- <div ng-repeat="event in eventsUsers">
    {{eventsUsers.id}}
</div> -->


<!--   <div ng-repeat="user in users">
    {{user.first_name}} {{user.last_name}}
    <br>
    {{user.email}}
    {{user.zip}}
    <img src="{{user.image_url}}" style="height:90px; width:90px;">
  </div>
  FOR MULTIPLE USERS
